node_modules
npm-debug.log
build
dist
.env
.env.local
.env.*.local
.git
.gitignore
.DS_Store
*.log
logs
coverage
.vscode
.idea
.editorconfig
Dockerfile
docker-compose.yml
.dockerignore
README.md
*.md
.discloudignore
discloud.config
.vscode
docs
data
